<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apm.ropapp">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>


    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RopApp"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
            <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MainActivity">
        </activity>

        <activity
            android:name=".SignUp"
            android:exported="true"
            android:label="SignUp">

        </activity>

        <activity
            android:name=".AddClothes"
            android:exported="true"
            android:label="AddClothes">
        </activity>

        <activity
            android:name=".AddCategories"
            android:exported="true"
            android:label="AddCategories">
        </activity>

        <activity
            android:name=".AddStyle"
            android:exported="true"
            android:label="AddStyle">
        </activity>

        <activity
            android:name=".AddSeason"
            android:exported="true"
            android:label="AddSeason">
        </activity>

        <activity
            android:name=".AddDetails"
            android:exported="true"
            android:label="AddDetails">
        </activity>

        <!--<activity
            android:name=".Calendar"
            android:exported="true"
            android:label="Calendar">
        </activity> -->

        <activity
            android:name=".SelectItem"
            android:exported="true"
            android:label="SelectItem">
        </activity>

        <activity
            android:name=".ArrangeItems"
            android:exported="true"
            android:label="ArrangeItems">
        </activity>

        <activity
            android:name=".CreateOutfit"
            android:exported="true"
            android:label="CreateOutfit">
        </activity>

        <activity
            android:name=".ShareOutfit"
            android:exported="true"
            android:label="ShareOutfit">
        </activity>

        <activity
            android:name=".EditProfile"
            android:exported="true"
            android:label="EditProfile">
        </activity>

        <!--<activity
            android:name=".Profile"
            android:exported="true"
            android:label="Profile">
        </activity>-->

        <activity
            android:name=".EditPassword"
            android:exported="true"
            android:label="EditPassword">
        </activity>

    </application>

</manifest>
